In [17]:
import pandas as pd
import os
path = "../scrapers/facebook/my_scraper/data/"

dfs = [f for f in os.listdir(path)]

In [28]:
print(dfs[13])

manchesterunited_post_ids.csv

In [31]:
df = pd.read_csv(f"{path}{dfs[13]}")
df.head()

             post_id
0  10157567304132746
1  10157564414102746
2  10157567231442746
3  10157567046857746
4  10157566710432746

In [47]:
sub = df.loc[[x for x in range(1140,1170)]]

In [48]:
sub.head()

                                    post_id
1140  10155908892897746","10155908892167746
1141                      10155908067292746
1142  10155907289312746","10155907286322746
1143                      10155906059692746
1144                      10155904912242746

In [52]:
for x in sub.head().post_id:
    if '","' in str(x):
        print(str(x).split('","')[0])
        print(str(x).split('","')[1])
    else:
        print(x)

10155908892897746
10155908892167746
10155908067292746
10155907289312746
10155907286322746
10155906059692746
10155904912242746

In [53]:
new_post_ids = []
for x in sub.head().post_id:
    if '","' in str(x):
        new_post_ids.append(str(x).split('","')[0])
        new_post_ids.append(str(x).split('","')[1])
    else:
        new_post_ids.append(str(x))

In [54]:
new_post_ids

['10155908892897746',
 '10155908892167746',
 '10155908067292746',
 '10155907289312746',
 '10155907286322746',
 '10155906059692746',
 '10155904912242746']

In [56]:
for fl in dfs:
    tmp = pd.read_csv(f"{path}{fl}")
    new_post_ids = []
    for x in tmp.post_id:
        if '","' in str(x):
            new_post_ids.append(str(x).split('","')[0])
            new_post_ids.append(str(x).split('","')[1])
        else:
            new_post_ids.append(str(x))
    new = pd.DataFrame(columns=["post_id"])
    new["post_id"] = new_post_ids
    new.to_csv(f"../scrapers/facebook/my_scraper/data_clean/{fl}", index=False)